/**
 * Styles for paragliding peru
 */
body {
  background-image: url('../images/fondo.png');
}

.navbar.container {
  margin-top: 0;
  border-radius: 0;
  margin-bottom: 0;
  border: none;
}


.main-container .row section{
  background-color: #fff;
}

.region-footer,
#page-header {
  background-color: #000;
  color: #fff;
}

