/**
 * Styles for paragliding peru
 */
@font-face {
  font-family: "Bree Light";
  src: url("../fonts/bree_light.ttf");
}

body {
  background-image: url('../images/fondo.png');
  font-family: 'Bree Light', sans-serif;
  font-size: 20px;
}

article img {
  box-shadow: 10px 10px 5px #888888;
  border-radius: 10px;
}

.navbar.container {
  margin-top: 0;
  border-radius: 0;
  margin-bottom: 0;
  border: none;
}


.main-container .row,
#navbar {
  background-color: #fff;
  padding-bottom: 30px;
}

footer,
#page-header .container {
  background-color: #000;
  color: #fff;
}

.footer {
  margin-top: 0;
  border: none;
}

/** Top bar **/
ul.language-switcher-locale-url {
  list-style: none;
}

ul.language-switcher-locale-url li {
  display: inline;
}

.language-switcher-locale-url a {
  color: #5a5858;
  font-weight: bold;
}

.language-switcher-locale-url a:hover,
.language-switcher-locale-url li.active a {
  color: #f97d45;
}

/** Menu **/
.navbar-default .navbar-nav > li > a {
  color: #5a5858;
  background-color: #fff;
  font-weight: bold;
  font-size: 135%;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #000;
  border-bottom: 3px solid #f97d45;
  background-color: #fff;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #000;
  background-color: #fff;
  border-bottom: 3px solid #f97d45;
}

/** Article **/
h1.page-header {
  display: none;
}

.field-name-field-content-image img {
  margin-right: auto;
  margin-left: auto;
}

.field-name-body {
  padding-top: 10px;
}

h3 {
  color: #f97d45;
  font-weight: bold;
}

/** Footer **/
.footer a {
  color: #fff;
}

