/**
 * Styles for paragliding peru
 */
body {
  background-image: url('../images/fondo.png');
}

.navbar.container {
  margin-top: 0;
  border-radius: 0;
  margin-bottom: 0;
  border: none;
}


.main-container .row {
  background-color: #fff;
  margin-right: 0;
  margin-left: 0;
}

footer,
#page-header {
  background-color: #000;
  color: #fff;
}

.footer {
  margin-top: 0;
  border: none;
}

